<header class="site-header">

  <div class="wrapper">

    <nav class="site-nav">

      <div class="trigger">
        <!-- About -->
        <a class="page-link" href="{{ site.baseurl | prepend: site.url }}/">front</a>

        <!-- Blog -->
        <!-- <a class="page-link" href="{{ '/blog/' | prepend: site.baseurl | prepend: site.url }}">blog</a> -->

        <!-- Pages -->
        {% for page in site.pages %}
          {% if page.title and page.url != "/" %}
            {% if page.headname %}
              <a class="page-link" href="{{ page.url | prepend: site.baseurl | prepend: site.url }}">{{ page.headname }}</a>
            {% else %}
              <a class="page-link" href="{{ page.url | prepend: site.baseurl | prepend: site.url }}">{{ page.title }}</a>
            {% endif %}
          {% endif %}
        {% endfor %}

      </div>
    </nav>

  </div>

</header>
