<div class="social">
  <span class="contacticon center">
    <a href="mailto:{{ site.email }}"><i class="fa fa-envelope"></i></a>
    <a href="https://scholar.google.com/citations?user={{ site.scholar_authorid }}" target="_blank" title="Google Scholar"><i class="ai ai-google-scholar"></i></a>
    <a href="https://github.com/{{ site.github_username }}" target="_blank" title="GitHub"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank" title="LinkedIn"><i class="fab fa-linkedin"></i></a>
    <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a>
    <a href="https://facebook.com/{{ site.facebook_username }}" target="_blank" title="Facebook"><i class="fab fa-facebook"></i></a>
    <a href="https://keybase.io/{{ site.keybase_username }}" target="_blank" title="Keybase"><i class="fab fa-keybase"></i></a>
    <a href="https://youtube.com/@{{ site.youtube_username }}" target="_blank" title="YouTube"><i class="fab fa-youtube"></i></a>
    <!--
    <a href="https://t.me/{{ site.telegram_username }}" target="_blank" title="Telegram"><i class="fa fa-telegram"></i></a>
    -->
    <!--
    <a href="https://codeforces.com/profile/{{ site.codeforces_handle }}" target="_blank" title="Codeforces"><i class="fa fa-code"></i></a>
    <a href="https://www.kaggle.com/{{ site.kaggle_handle }}" target="_blank" title="Kaggle"><i class="fab fa-kaggle"></i></a>
    -->
  </span>

  <div class="col three caption">
    {{ site.contact_note }}
  </div>
</div>
